body {
    margin: 0;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("istockphoto-152119339-170667a.webp");

}

.divMain{
    width: 50vw;
    height: 94.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    margin: auto;
    border: red solid 3px;
    background-color: rgba(14, 13, 13, 0.63);
    color: #c7c7c7;
}

.divUser{
    width: 20vw;
    height: 17vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    font-family: 'Lobster', cursive;
    font-size: 20px;
    border: red dashed 1px;
    background-color: white;
    margin: auto;
    background-color: rgba(14, 13, 13, 0.63);
    color: #c7c7c7;

}
h1{
    width: 50vw;
    height: 4vh;
    font-family: 'Lobster', cursive;
    color: white;
    font-weight: bolder;
    margin: 2px;
    font-size: 18px;
    background-image: url("istockphoto-152119339-170667a.webp");
    text-align: center;

}

h2{
    font-size: 20px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-weight: normal;
    color: #fa0109;
}

.button {
    margin-top: 3px;
    padding: 10px 12px 10px 12px;
    border-radius: 20px;
    border: 1px solid #000000;
    background: linear-gradient(98.88deg, #fa0109 -2.99%, #000000 102.28%),
    linear-gradient(0deg, #000000, #000000);
    color: #FFFFFF;
    font-family: 'Lobster', cursive;
    font-size: 15px;
    font-weight: normal;
    text-align: center;

}


.button:hover {
    font-weight: bold;
    background: white;
    position: relative;
    bottom: 3px;
    right: 3px;
    cursor: pointer;
    background: linear-gradient(98.88deg, #0e0d0d -2.99%, #000000 102.28%),
    linear-gradient(0deg, #000000, #faf7f7);
}