body {
    margin: 0;
}
.button {
    padding: 10px 12px 10px 12px;
    border-radius: 20px;
    border: 1px solid #000000;
    background: linear-gradient(98.88deg, #fa0109 -2.99%, #000000 102.28%),
    linear-gradient(0deg, #000000, #000000);
    color: #FFFFFF;
    font-family: 'Lobster', cursive;
    text-transform:uppercase;
    font-size: 13px;
    text-align: center;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
}


.button:hover {
    font-weight: bold;
    background: white;
    position: relative;
    bottom: 3px;
    right: 3px;
    cursor: pointer;
    background: linear-gradient(98.88deg, #0e0d0d -2.99%, #000000 102.28%),
    linear-gradient(0deg, #000000, #faf7f7);
}

.buttonPost {
    font-family: 'Lobster', cursive;
    margin-top: 7px;
    padding: 10px 12px 10px 12px;
    border-radius: 20px;
    border: 1px solid #000000;
    background: linear-gradient(98.88deg, #d92e2e -2.99%, #efebeb 102.28%),
    linear-gradient(0deg, #000000, #000000);
    color: black;
    text-transform:uppercase;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
}

a{
    font-family: 'Lobster', cursive;
    color: black;
    text-decoration: none;
}
#list {
    width: 50vw;
    height: 55vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    border: red solid 2px;
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 13px;
    padding-top: 20px;
    margin: auto;
    background-color: rgba(14, 13, 13, 0.63);
    color: #c7c7c7;
}

.divMain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    background-image: url("istockphoto-152119339-170667a.webp");
    height: 94vh;

}

h2{
    text-align: center;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    background-image: url("istockphoto-152119339-170667a.webp");
}


.ulPost{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 60vh;
    padding-left: 0;
    margin-top: -80px;
    background-image: url("istockphoto-152119339-170667a.webp");
}

.liPost{
    width: 16vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: red dashed 2px;
    text-align: center;
    padding: 5px;
    margin: 10px;
    font-family: 'Lobster', cursive;
    background-color: rgba(14, 13, 13, 0.63);
    color: #c7c7c7;
}

